<script type="text/javascript">
      google.load("visualization", '1.1', {packages:['corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = {{ chart_data | safe }}

        var datatable = google.visualization.arrayToDataTable(data);
        var options = {
          width: 300,
          height: 200,
          legend: { position: 'none' },
        };
        var chart = new google.visualization.PieChart(document.getElementById('{{ chart_div_id }}'));
        chart.draw(datatable, options);
    }
</script>
