{% include 'partials/head.html' %}

        <div class="container">
            <h1> "Flunking": Failed Food Inspections in Chicago Schools, 2010-2015 </h1>
            <h3> <i> Has your child's school failed a food inspection? </i> </h3>
            <div id="map" style="width:100%; height:300px;"></div>

            <h3 style = text-align:left; > <a href="/summary/"> In Summary </a></h3>
            <div id="mychart" style="width: 50%; height: 200px;"></div>
            <p> Breakdown: How?</p>
            
            <table class="table table-condensed">
                <tr>
                    <th>School</th>
                    <th>Risk Level</th>
                    <th>Address</th>
                    <th> Date of Failed Inspection</th>
                </tr>
            {% for school in schools %}
                <tr>
                    <td><a href="/schools/{{ school['AKA_Name'] }}/">{{ school.AKA_Name }}</td>
                    <td>{{ school.Risk }}</td>
                    <td>{{ school.Address }}</td>
                    <td>{{ school.Inspection_Dates }}</td>
                </tr>
            {% endfor %}
            </table>

            <script type="text/javascript">
            var map = L.map('map').setView([41.78, -87.60], 9);
            var mapquestLayer = new L.TileLayer('http://{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Data, imagery and map information provided by <a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>,<a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.',
                subdomains: ['otile1','otile2','otile3','otile4']
            });
            map.addLayer(mapquestLayer);
            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for school in schools %}
                {
                  "type": "Feature",
                  "properties": {
                    "School": "{{ school.AKA_Name }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ school.x }}, {{ school.y }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
            var dataLayer = L.geoJson(data, {
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(feature.properties.AKA_Name);
                }
            });
        </script>

    <div id='chart1'>
    <script type="text/javascript">
      google.load("visualization", '1.1', {packages:['corechart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = [['Failed_Times', 'Schools'], ['One Failed Inspection', 328], ['Two Failed Inspections', 174], ['Three Failed Inspections', 78], ['4+ Failed Inspections', 49]]

        var datatable = google.visualization.arrayToDataTable(data);
        var options = {
          width: 300,
          height: 200,
          legend: { position: 'none' },
        };
        var chart = new google.visualization.PieChart(document.getElementById('mychart'));
        chart.draw(datatable, options);
    }
    </script>



{% include 'partials/foot.html' %}